/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #07080c;
  font-family: 'Roboto';
  height: 100vh;
}
.image {
  height: 500px;
  width: 700px;
}
.heading {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
}
.sub-heading {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  height: 30px;
  width: 120px;
  cursor: pointer;
  margin: 10px;
}
.button:hover {
  outline: none;
}
.button2 {
  background-color: transparent;
  color: #cbd5e1;
  border: 2px solid;
  border-color: #94a3b8;
  font-size: 16px;
  border-radius: 8px;
  height: 30px;
  width: 120px;
  cursor: pointer;
}
.button2:hover {
  outline: none;
}
.paragraph {
  color: #cbd5e1;
  font-size: 20px;
}
